.contact-container {
  background: rgba(255, 255, 255, 0.4);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  max-width: 35em;
  width: auto;
  transform: translate(-50%, -50%);
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.contact-text {
  max-width: 20em;
  min-width: 10em;
  min-height: 10em;
}

.contact-input {
  border-radius: 0.2em;
  border: none !important;
}

.contact-text {
  border-radius: 0.2em;
  border: none !important;
  font-weight: thin;
}
